<script src="/script/preview.js" defer></script>
<form action="<%=submitPath%>?_csrf=<%= locals.csrfToken  %>" method="post" enctype="multipart/form-data">
    <!-- <%= submitPath+"-0"   %>  -->
    <p>
        <label for="title">Title</label>
        <input type="text" id='title' name="title"  value=" <%= product.Title %>" required>
    </p>
    <p>
        <div id="preview">
            <img   src="" alt="Image">
            <label for="image">Image</label>
            <input type="file" id='image' name="image" accept="image/jpg"  <% if(imageReq){ %> required<% } %> >
        </div>
    </p>
    <p>
        <label for="summary">Summary</label>
        <input type="text" id='summary' name="summary"   value="<%= product.Summary %>" maxlength="200" required>
    </p>
    <p>
        <label for="price">Price</label>
        <input type="number" id='price' name="price"   value="<%= product.Price %>" required>
    </p>
    <p>
        <label for="description">Description</label>
        <textarea  id='description' name="description" rows="7"   required><%= product.Description %></textarea>
    </p>
    <button type="reset" class="btn btn-alt">Reset</button>
    <button class="btn" >Submit</button>
</form>